python-dotenv
tavily-python
openai
llama-index-llms-openai-like
llama-index
chainlit
rich
pydantic
autogen-ext[openai]>=0.6.2
autogen-core>=0.6.2
autogen-agentchat>=0.6.2
mcp-server-fetch
mlflow>=3.1
chainlit
